@charset "UTF-8";
#main1 {
  float: right;
  width: 100%;
  height: 100%;
  margin: auto;
  /* background-color: red; */
}

#main2 {
  width: 100%;
  height: 60%;
  margin: auto;
  /* background-color: red; */
  /* border:solid 1px #0000ff; */
}
#main2 img {
  float: left;
}

#QnA {
  width: 45%;
  height: 40%;
  font-size: 25px;
  margin: auto;
  color: white;
  background-color: #949292;
  float: left;
  display: table;
}

.q {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5%;
}

#notice {
  width: 55%;
  height: 40%;
  font-size: 25px;
  margin: auto;
  color: white;
  background-color: #424242;
  float: left;
  display: table;
}

#bottom table {
  padding: 20px 0;
}

hr {
  margin-top: 20px;
}
